In [1]:
from timeatlas import TimeSeries, TimeSeriesDataset
from timeatlas.config.constants import (
    TIME_SERIES_VALUES,
    TIME_SERIES_FILENAME,
    TIME_SERIES_EXT,
    METADATA_FILENAME,
    METADATA_EXT
)

from pandas import Series, DatetimeIndex

import numpy as np

Importing plotly failed. Interactive plots will not work.

### TimeSeries to_array()

In [2]:
index = DatetimeIndex(['2019-01-01', '2019-01-02', '2019-01-03', '2019-01-04','2019-01-05', '2019-01-06', '2019-01-07', '2019-01-08','2019-01-09', '2019-01-10', '2019-01-11', '2019-01-12'])
my_series = Series([0.4, 1.0, 0.7, 0.6, 0.4, 1.0, 0.7, 0.6, 0.4, 1.0, 0.7, 0.6], index=index)

ts = TimeSeries(my_series)

In [3]:
ts

            values
2019-01-01     0.4
2019-01-02     1.0
2019-01-03     0.7
2019-01-04     0.6
2019-01-05     0.4
2019-01-06     1.0
2019-01-07     0.7
2019-01-08     0.6
2019-01-09     0.4
2019-01-10     1.0
2019-01-11     0.7
2019-01-12     0.6

In [4]:
def to_array(ts):
    """
    
    """
    
    return ts.series[TIME_SERIES_VALUES].to_numpy()

In [5]:
to_array(ts)

array([0.4, 1. , 0.7, 0.6, 0.4, 1. , 0.7, 0.6, 0.4, 1. , 0.7, 0.6])

### TimeSeriesDataset to_array()

In [6]:
tsd = TimeSeriesDataset([ts for i in range(5)])

In [7]:
tsd

[            values
2019-01-01     0.4
2019-01-02     1.0
2019-01-03     0.7
2019-01-04     0.6
2019-01-05     0.4
2019-01-06     1.0
2019-01-07     0.7
2019-01-08     0.6
2019-01-09     0.4
2019-01-10     1.0
2019-01-11     0.7
2019-01-12     0.6,             values
2019-01-01     0.4
2019-01-02     1.0
2019-01-03     0.7
2019-01-04     0.6
2019-01-05     0.4
2019-01-06     1.0
2019-01-07     0.7
2019-01-08     0.6
2019-01-09     0.4
2019-01-10     1.0
2019-01-11     0.7
2019-01-12     0.6,             values
2019-01-01     0.4
2019-01-02     1.0
2019-01-03     0.7
2019-01-04     0.6
2019-01-05     0.4
2019-01-06     1.0
2019-01-07     0.7
2019-01-08     0.6
2019-01-09     0.4
2019-01-10     1.0
2019-01-11     0.7
2019-01-12     0.6,             values
2019-01-01     0.4
2019-01-02     1.0
2019-01-03     0.7
2019-01-04     0.6
2019-01-05     0.4
2019-01-06     1.0
2019-01-07     0.7
2019-01-08     0.6
2019-01-09     0.4
2019-01-10     1.0
2019-01-11     0.7
2019-01-12     0.6,             values
2019-01-01     0.4
2019-01-02     1.0
2019-01-03     0.7
2019-01-04     0.6
2019-01-05     0.4
2019-01-06     1.0
2019-01-07     0.7
2019-01-08     0.6
2019-01-09     0.4
2019-01-10     1.0
2019-01-11     0.7
2019-01-12     0.6]

In [8]:
def to_array(tsd):
    
    return np.array([ts.to_array() for ts in tsd.data])

In [9]:
to_array(tsd)

array([[0.4, 1. , 0.7, 0.6, 0.4, 1. , 0.7, 0.6, 0.4, 1. , 0.7, 0.6],
       [0.4, 1. , 0.7, 0.6, 0.4, 1. , 0.7, 0.6, 0.4, 1. , 0.7, 0.6],
       [0.4, 1. , 0.7, 0.6, 0.4, 1. , 0.7, 0.6, 0.4, 1. , 0.7, 0.6],
       [0.4, 1. , 0.7, 0.6, 0.4, 1. , 0.7, 0.6, 0.4, 1. , 0.7, 0.6],
       [0.4, 1. , 0.7, 0.6, 0.4, 1. , 0.7, 0.6, 0.4, 1. , 0.7, 0.6]])

## Read TSD from File

In [14]:
from timeatlas import read_text

In [13]:
tsd.to_text('../data/')

In [16]:
ts = read_text('../data/0')

In [4]:

from timeatlas.models import LSTMPrediction

Importing plotly failed. Interactive plots will not work.

## TSD REPR

In [1]:
from timeatlas import TimeSeries, TimeSeriesDataset
from timeatlas.config.constants import (
    TIME_SERIES_VALUES,
    TIME_SERIES_FILENAME,
    TIME_SERIES_EXT,
    METADATA_FILENAME,
    METADATA_EXT
)

from pandas import Series, DatetimeIndex

import numpy as np

Importing plotly failed. Interactive plots will not work.

In [2]:
index = DatetimeIndex(['2019-01-01', '2019-01-02', '2019-01-03', '2019-01-04','2019-01-05', '2019-01-06', '2019-01-07', '2019-01-08','2019-01-09', '2019-01-10', '2019-01-11', '2019-01-12'])
my_series = Series([0.4, 1.0, 0.7, 0.6, 0.4, 1.0, 0.7, 0.6, 0.4, 1.0, 0.7, 0.6], index=index)

ts1 = TimeSeries(my_series)

index = DatetimeIndex(['2019-01-01', '2019-01-02', '2019-01-03', '2019-01-04','2019-01-05', '2019-01-06', '2019-01-07', '2019-01-08','2019-01-09'])
my_series = Series([0.4, 1.0, 0.7, 0.6, 0.4, 10, 0.8, 0.6, 0.4], index=index)

ts2 = TimeSeries(my_series)

tsd = TimeSeriesDataset([ts1, ts2])

In [3]:
tsd.describe()

   minimum  maximum      mean  median  kurtosis  skewness
0      0.4      1.0  0.675000    0.65 -0.976735  0.371462
1      0.4     10.0  1.655556    0.60  8.892405  2.976042

In [4]:
tsd

<class 'str'>

   minimum  maximum      mean  median  kurtosis  skewness
0      0.4      1.0  0.675000    0.65 -0.976735  0.371462
1      0.4     10.0  1.655556    0.60  8.892405  2.976042